<head>
<style>
  .container p.error {color:red}
</style>
</head>

<div class="container">
  <h1>Welcome to Flashy!</h1>

  <h3>Log in or sign up to start learning!</h3>
  <form action="/login" method="post">
    <p>Login to account:</p>
    <input type="text" name="username_or_email" placeholder="username/email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Log in">
  </form>



  <form action="/register" method="post">
    <p>Register a new account here:</p>
    <input type="text" name="user[username]" placeholder="Username">
    <input type="text" name="user[email]" placeholder="email">
    <input type="password" name="user[password]" placeholder="password">
    <input type="submit" value="Register!">
  </form>
  <br>
  <% if @user && @user.errors %>
  <% @user.errors.full_messages.each do |error| %>
   <p class="error"><%= error %></p>
  <% end %>
<% end %>
<br>
</div>

