<div class="container">

<h1><%= @deck.name %></h1>
  <form action="/deck/<%= @deck.id %>/card/<%= @deck.cards.sample.id %>" method="post">
    <input type="submit" value="Start round">
  </form>
  <br>
</div>
